@model List<ToDoListItems> 

<h1> ToDo List Items</h1>
<table class="table table-boarded table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th> Description </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var obj in Model)
            {
                <td>@obj.Id</td>
                <td> @obj.Title </td>
                <td> @obj.Description </td>
            }
        </tr>
    </tbody>
</table>